@model IEnumerable<DreamStream.Models.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>
@foreach (var customer in Model)
{
    <ul>
        <li>@Html.ActionLink(customer.Name,"Edit",new { id=customer.Id})-@customer.MembershipType.Name</li>
    </ul>
}



