@model System.Collections.Generic.List<DreamStream.Models.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>
@foreach (var customer in Model)
{
    <ul>
        <li><a href="/customers/details/@customer.Id">@customer.Name</a>-@customer.MembershipType.DiscountRate%</li>
    </ul>
}



